<div class="mk-page">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-map-marker"></i> Kontakt</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Musiklokal Nidau</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <address>
        Kraft Claudine<br/>
        Dipl. Musiklehrerin für Keyboard,<br/>
        El. Orgel & Akkordeon<br/>
        Hauptstrasse 21<br/>
        2560 Nidau/BE<br/>
        <br/>
        <i class="fa fa-phone mk-mini-glyph"></i> 078 875 24 54<br/>
        <i class="fa fa-envelope mk-mini-glyph"></i> <a href="mailto:kontakt@musikschule-kraft.ch">kontakt@musikschule-kraft.ch</a><br/>
      </address>
      <p>
        <strong><a href="#/kontakt/formular">Kontaktformular</a></strong><br/>
      </p>

      <div class="hidden-sm hidden-xs">
        <br/>
        <br/>
        <br/>
        <img src="img/photos/nidau_lokal.png" alt="Lokal in Nidau" class="mk-img"/><br/>
      </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <iframe style="width:560px;height:420px;border:0" src="https://map.search.ch/584963,219470?x=-271m&amp;y=66m&amp;z=256&amp;b=high&amp;embed=iframe"></iframe><br />
      <i class="fa fa-globe"></i> <a
        href="https://map.search.ch/?q=Musikschule+Kraft,+Nidau,+Hauptstr.+21&near=662000,190000"
        target="_blank">Karte bei search.ch</a><br/>
      <br/>
      <br/>
    </div>
  </div>
</div>