<div class="mk-page">
  <div class="row">
    <div class="col-xs-12">
      <h1>Schülerkonzert 2016</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <p class="text-center">
        <img class="mk-img" src="img/konzert/concert16.png"/>
      </p>
      <br/>
      <a href="#/aktuell/konzert/archiv" class="hidden-sm hidden-xs">Alle Konzerte ansehen</a><br/>
      <a href="#/aktuell">Zurück zu "Aktuell"</a><br/>
      <br/>
      <br/>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
      <div class="mk-concert-title">2016</div>
    </div>
  </div>
</div>
