<div class="mk-page">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-star"></i> Schülerkonzerte</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Letztes Schülerkonzert</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#/aktuell/konzert/2018"><img class="mk-img" src="img/konzert/konzert_2018_banner.png"
                                            alt="Schülerkonzert 2018"/></a><br/>
      <br/>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Archiv</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li><a href="#/aktuell/konzert/2016">Schülerkonzert <strong>2016</strong></a></li>
        <li><a href="#/aktuell/konzert/2013">Schülerkonzert <strong>2013</strong></a></li>
        <li><a href="#/aktuell/konzert/2011">Schülerkonzert <strong>2011</strong> (20 Jahre Musikschule Kraft)</a></li>
        <li><a href="#/aktuell/konzert/2008">Schülerkonzert <strong>2008</strong></a></li>
        <li><a href="#/aktuell/konzert/2006">Schülerkonzert <strong>2006</strong></a></li>
        <li><a href="#/aktuell/konzert/2004">Schülerkonzert <strong>2004</strong></a></li>
      </ul>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 hidden-xs hidden-sm ">
      <img class="pull-right img-responsive" src="img/konzert/audience.png" alt="Schülerkonzert Publikum"/>
    </div>
  </div>
</div>
