<div class="mk-page">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-music"></i> Musikschule</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Claudine Kraft</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <p>
        Claudine Kraft ist <strong>diplomierte Musiklehrerin für Keyboard, Elektronische Orgel und Akkordeon</strong>.
        Kurze Zeit nach ihrem Abschluss am Konservatorium Winterthur 1987 hat sie im Jahr 1991 als
        Allein-Unternehmerin ihre eigene Musikschule gegründet.
      </p>

      <p>
        Seitdem freut sie sich ab der sehr erfolgreichen Zeit mit Schülerinnen und Schülern jeden Alters
        und ist sehr motiviert, mit ihrem spannenden und zeitgemässen Musikunterricht weiterhin allen Interessierten
        ihre Leidenschaften, die <strong>Musik und die gute Laune</strong>, weiterzugeben.
      </p>
      <br/>
      <table>
        <tr>
          <td><img class="mk-img mk-img-block2" src="img/photos/lehrerin_3.png" alt="Claudine Kraft"/></td>
          <td><img class="mk-img mk-img-block4 mk-img-invert hidden-xs hidden-sm" src="img/photos/lehrerin_2.png"
                   alt="Claudine Kraft"/></td>
        </tr>
      </table>
      <br/>
      <br/>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
      <br/>
      <img class="mk-img" src="img/photos/lehrerin_1.png" alt="Claudine Kraft"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Musiklokal Nidau</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 hidden-xs hidden-sm">
      <br/>
      <img class="mk-img" src="img/photos/lokal_1.png" alt="Musiklokal Nidau"/>
    </div>
    <div class="col-md-8 col-xs-12">
      <p>
        Im Musiklokal an der Hauptstrasse 21 in Nidau haben die Schülerinnen und Schüler diverse Instrumente für den
        Unterricht zur Verfügung. Der Raum ist bestens eingerichtet für alle Bereiche des Unterrichtangebots.
      </p>

      <p>
        <strong>Keyboard</strong> Yamaha PSR 500, PSR 710, PSR 1100, PSR 2100, PSR 3000
      </p>

      <p>
        <strong>E-Piano / Klavier</strong> Yamaha E-Piano DGX-640, Burger Jakobi Klavier
      </p>

      <p>
        <strong>Elektronische Orgel</strong> Technics EN4
      </p>

      <p>
        <strong>Akkordeon</strong> Hohner Morino 4, Adria 3 Chö, Hohner Piccolo
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table>
        <tr>
          <td><img class="mk-img mk-img-block2 mk-img-invert" src="img/photos/lokal_4.png"
                   alt="Musiklokal Nidau"/></td>
          <td><img class="mk-img mk-img-block4 hidden-xs hidden-sm" src="img/photos/lokal_2.png"
                   alt="Musiklokal Nidau"/></td>
        </tr>
      </table>
      <br/>
      <br/>
    </div>
  </div>
</div>
