<div class="mk-page">
  <div class="row">
    <div class="col-xs-12">
      <h1><i class="fa fa-lightbulb-o"></i> Tipps</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Wie unterstütze ich mein Kind in seinem Musikunterricht?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h4>Tipps zum Üben</h4>
      Infoblatt des Schweizerischen Musikpädagogischen Verbands (SMPV): <a href="data/ueben.pdf" target="_blank">Download</a><br/>
      <h4>Ich konnte nicht üben weil...</h4>
      Artikel aus der Schweizer Musikzeitung Januar 2007: <a href="data/smz_januar_2007.pdf"
                                                             target="_blank">Download</a><br/>
      <br/>
      <br/>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
      <br/>
      <img class="mk-img" src="img/ueben.png" alt="Üben üben üben"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Links</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!--h4>MHM Musik - Fachmarkt für Musikinstrumente</h4>
      <a href="http://www.mhmmusik.ch" target="_blank"><img src="img/mhm_musik.png" alt="MHM Musik"
                                                            class="img-responsive"></a><br/-->

      <h4>Yamaha Musikinstrumente</h4>
      <a href="http://ch.yamaha.com/de/products/musical-instruments/" target="_blank"><img src="img/yamaha.png"
                                                                                           class="img-responsive"
                                                                                           alt="Yamaha"></a><br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
