<div class="mk-page">
<div class="row">
  <div class="col-xs-12">
    <h1><i class="fa fa-book"></i> Unterricht</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Philosophie</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-xs-12">
    <p>
      Ein Keyboard tönt von alleine, sagen viele. Das stimmt - aber wenn etwas einfach tönt, ist es noch lange
      keine
      schöne Musik und schon gar kein Ohrenschmaus. Fassen Sie sich deshalb ans Herz und melden Sie sich noch
      heute
      bei der Musikschule Kraft an. <strong>Lernen Sie selber Musik zu machen</strong>.
    </p>

    <img class="mk-img mk-img-block4" src="img/photos/keyboard_2011_10.png" alt="Keyboardunterricht"/>

    <p>
      Der Unterricht besteht einerseits aus einem fundierten Lehrgang, der Sie die <strong>Basis</strong> und
      auch die
      <strong>fortgeschrittenen Fähigkeiten</strong> des Keyboard-Spiels mittels Lernstücken erlernen lässt.
    </p>

    <p>
      Andererseits werden dazu beliebige Stücke ganz nach dem Geschmack der Schülerin oder des Schülers
      gespielt! Sie
      werden schnell <strong>Freude an Ihren Fortschritten</strong> bekommen und überrascht sein, was Sie
      <strong>
        innert kurzer Zeit</strong> mit Ihrem Keyboard anstellen können.
    </p>

    <p>
      So macht das Üben <strong>Spass</strong> und Sie können bei Gelegenheit nicht nur sich selber sondern
      auch Ihre
      Familie, Bekannte oder Freunde mit Ihrer Musik unterhalten. Auf einer Geburtstagsparty ein kleines
      Ständchen
      oder einfach so jemandem eine Freude bereiten!
    </p>

    <p>
      Aufbauend auf dem Keyboardunterricht bietet die Musikschule Kraft auch <strong>Unterricht für
      elektronische
      Orgel oder E-Piano</strong>. Beide Instrumente bieten weitere Möglichkeiten, um sich musikalisch weiter
      zu
      entwickeln - beispielsweise hat die Spielerin oder der Spieler dank dem selber gespielten Bass bei der
      Orgel
      oder der dynamischeren Spielweise des Klaviers mehr Interpretationsfreiheiten und die Möglichkeit,
      andere
      Musikrichtungen zu erforschen.
    </p>

    <img class="mk-img pull-right mk-img-block1" src="img/photos/keyboard_2011_9.png" alt="Keyboardunterricht"/>

    <p>
      Die Musikschule Kraft garantiert einen <strong>unterhaltsamen, motivierenden und engagierten</strong>
      Unterricht
      für Jung und Alt!
    </p>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <br/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/keyboard_2011_6.png" alt="Keyboard"/>
    <br/>
    <img class="mk-img" src="img/photos/keyboard_1.png" alt="Keyboard"/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/keyboard_2011_7.png" alt="Keyboard"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Keyboard, Elektronische Orgel und E-Piano</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 hidden-xs hidden-sm">
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/tyros4.png" alt="Yamaha Tyros 4" title="Yamaha Tyros 4"/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/keyboard_2011_8.png" alt="Keyboardunterricht"/>
  </div>
  <div class="col-md-8 col-xs-12">
    <h4>Keyboard</h4>

    <p>
      Das Keyboard ist ein <strong>modernes Tasteninstrument</strong>, vergleichbar mit einem Klavier.
      Gespielt wird
      ebenfalls auf einem grossen Tasten-Manual, der Ton wird jedoch nicht wie beim Klavier von einem Hammer,
      der auf
      eine Saite schlägt, sondern von einem elektronischen Klangprozessor generiert.
    </p>

    <p>
      Das Keyboard besticht vor allem durch seine <strong>Vielfalt und den Komfort</strong>. Es gibt beliebig
      viele
      Klänge, Rhythmen und Begleitungen, die Sie zur Interpretation Ihrer Lieblingsstücke kombinieren können.
      Es ist,
      als ob ein <strong>kleines Orchester</strong> aufspielen würde! Die aktuelle Generation von Keyboards
      bringt
      eine
      unvergleichliche Soundqualität mit sich. Zudem können MIDI-Files als Begleitung geladen werden. So
      können Sie
      originalgetreu die Chart-Hits oder gar eine Mozart-Symphonie mit Orchester nachspielen! Man kann so
      Stücke auch
      selber einspielen und auf dem PC nachbearbeiten.
    </p>

    <p>
      Dank der Technik, die heute in einem Keyboard steckt, lässt es sich auf unkomplizierte Weise um
      beliebige Geräte
      erweitern (wie z.B. ein zweites Tastenmanual, Basspedale, Volumenpedal, Foot-Switches usw.).
    </p>

    <p>
      <strong>Keyboard spielen wird nie langweilig! :-)</strong>
    </p>


  </div>
  <div class="col-md-8 col-xs-12">
    <h4>Elektronische Orgel</h4>

    <p>
      Die elektronische Orgel ist ein Instrumententyp für sich. Sie hat im Grunde sehr wenig mit der
      bekannten Kirchenorgel (Orgel mit Pfeifen- und mechanischem Blaswerk) zu tun. Die Klanggenerierung und
      die
      Spielweise ähnelt dem Keyboard, typischerweise wird jedoch auf zwei Manualen und <strong>zusätzlichem
      Bass-Pedal
    </strong> (Fuss) gespielt.
    </p>

    <p>
      Hammond-Orgel Die erste elektronische Orgel wurde 1935 von dem Amerikaner Laurens Hammond gebaut, wobei
      der Ton
      elektronisch erzeugt und durch Lautsprecher hörbar gemacht wird. Die sogenannte Hammond-Orgel. Viele
      dieser
      Orgeln sollen die Klangcharakteristika der traditionellen Orgel nachahmen. In den Rockbands der
      sechziger Jahre
      waren diese elektronischen Orgeln weit verbreitet.
    </p>

    <p>
      Technics SX-G100c Die heutigen, modernen elektronischen Orgeln glänzen ähnlich wie die Keyboards durch
      ihre
      <strong>vielfältigen technischen Möglichkeiten</strong>. Verschiedenste Klänge, Rhythmen und
      Begleitungen,
      resp. der Einsatz von Midi-Files (elektronisch registrierte Tonspuren) erleichtern das Spiel.
    </p>

    <img class="mk-img mk-img-block4" src="img/photos/orgel_corinne.png"
         alt="Schülerin auf der Technics SX-EN4 im Musiklokal"
         title="Schülerin auf der Technics SX-EN4 im Musiklokal"/>

  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <br/>
    <img class="mk-img " src="img/photos/keyboard_2011_12.png" alt="Keyboardunterricht"/>
    <br/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/keyboard_2011_5.png" alt="Keyboardunterricht"/>
    <br/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/keyboard_2011_3.png" alt="Keyboardunterricht"/>
  </div>
</div>
<div class="row">
  <div class="col-md-4 hidden-xs hidden-sm">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <img class="mk-img mk-img-invert" src="img/photos/epiano.png"
         alt="E-Piano"/>
  </div>
  <div class="col-md-8 col-xs-12">

    <h4>E-Piano</h4>

    <p>
      Als Pianist kann man <strong>unendlich viele Stilrichtungen</strong> spielen. Von jahrhundertealter
      klassischer
      Musik bis zur Musik von heute und morgen und allem, was dazwischen liegt. Für Klavier wurde mehr Musik
      geschrieben als für die meisten anderen Instrumente und es ist ein Instrument, welches garantiert auch
      die
      nächsten Epochen überleben und prägen wird.
    </p>

    <p>
      Die Musikschule Kraft bietet mit dieser Erweiterung des Angebots einen interessanten,
      abwechslungsreichen und
      <strong>zeitgemässen Einstieg ins Klavierspiel</strong>. Dieser Unterricht richtet sich an alle Personen
      mit
      Freude an der Musik und Lust, dieses schöne Instrument kennen zu lernen. Es kann bereits in jungem Alter
      (idealerweise Schulalter) bis ins höhere Alter mit dem Klavierspiel begonnen werden. Zu spät ist es nie!
      Klavierspielen regt Intellekt und Psyche an, es dient der Entspannung und ist ein kreativer Ausgleich
      zum
      Stress des Berufsalltags.
    </p>


    <p>
      Das Klavier ist ein Instrument mit einem sehr <strong>schönem, natürlichen Klang</strong>, welcher durch
      einen
      Hammerschlag auf eine Saite erzeugt wird. Beim E-Piano schlägt kein Hammer gegen die Saite, sondern der
      Klavierklang wird elektronisch erzeugt. Die Klangwiedergabe erfolgt über Lautsprecher oder Kopfhörer.
      Beide Instrumente haben Vor- und Nachteile, welche gut abgewogen werde sollten. Ein E-Piano ist
      grundsätzlich
      mobiler und kann (mit Kopfhörern) problemlos auch in einem Lärm-empfindlichen Umfeld gespielt werden.
      Ein
      Klavier hat dagegen im Vergleich zum E-Piano (insbesonders im Vergleich zu billigen Varianten) einen
      schöneren,
      ausgeprägteren Klang, welcher mehr Kreativität zulässt.
    </p>
    <br/>
    <br/>
  </div>
</div>
</div>
