<div class="mk-page">
  <div class="row">
    <div class="col-xs-12"><img id="mk-img-title" class="img-responsive" src="img/welcome_title.png"
                                alt="Willkommen auf der Seite der Musikschule Kraft"/></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="mk-main-title">Herzlich Willkommen bei der Musikschule Kraft!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-xs-12">
      <p class="mk-para-strong">Es freut mich, dass ich Sie hier begrüssen darf.</p>

      <p>
        Egal ob sie schon ein Profi sind, oder das Musizieren noch Neuland ist, <strong>hier sind Sie genau
        richtig</strong>. Lassen Sie sich ermutigen, Ihre neue Freizeitbeschäftigung in Angriff zu nehmen.
        <strong>Musizieren ist für jung und alt!</strong>
      </p>

      <p>
        Sie werden merken, dass das Lesen der Noten gar nicht so schwierig ist. Sie haben die Möglichkeit,
        mit der Musik ihren Gefühlen Ausdruck zu geben, den Alltagsgedanken zu entfliehen und sich dabei zu
        <strong>entspannen</strong>. Von Woche zu Woche werden Sie mehr <strong>Freude</strong> haben und können
        es sich gar nicht mehr vorstellen, ohne das Musizieren den Tag zu verbringen.
      </p>

      <p>Gemeinsam werden wir dann <strong>Ihre Wünsche und Ziele</strong> im Unterricht erreichen.</p>

      <p>
        Geniessen Sie Ihren Aufenthalt auf meiner Seite und <a href="#/kontakt">kontaktieren</a> Sie mich
        für weitere Infos.
      </p>

      <p>
        <br/>

        Viel Vergnügen <br/>
        <br/>
        <em><img src="img/signature_ck.png" alt="Claudine Kraft"/></em>
        <br/>
        <br/>
        Claudine Kraft
        <br/>
        <br/>
        <br/>
      </p>
    </div>
    <div class="col-md-2 col-md-pull-1 hidden-xs hidden-sm">
      <a href="#/aktuell"><img src="img/aktuell.png" alt="Aktuell" class="mk-img"/></a>
    </div>
  </div>
</div>