/* CSS Document */
p, h1, h2, h4, ul, ol, li {
    font-family: verdana, arial;
    color: #666666;
    font-style: normal
}

p {
    margin-top: 4pt;
    margin-bottom: 4pt
}

h1 {
    font-size: 18pt;
    font-style: bold;
    color: #000066
}

h2 {
    font-size: 12pt;
    font-style: bold;
    color: #D46A23
}

h3 {
    color: #0055AA;
    font-size: 10pt;
    font-style: normal
}

h4 {
    font-size: 8pt;
    font-style: normal
}

p {
    font-size: 9pt;
    font-style: normal
}

td {
    font-family: verdana, arial;
    font-size: 9pt;
    color: #666666;
}

a {
    font-size: 9pt;
    font-style: normal;
    font-family: verdana, arial;
}

a:link {
    text-decoration: none;
    color: #666666;
}

a:visited {
    text-decoration: none;
    color: #666666;
}

a:active {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: none;
    color: #D46A23;
}

a.news {
    font-size: 9pt;
    font-style: normal;
    font-family: verdana, arial;
}

a.news:link {
    text-decoration: none;
    color: #0055AA;
}

a.news:visited {
    text-decoration: none;
    color: #0055AA;
}

a.news:active {
    text-decoration: none;
    color: #0055AA;
}

a.news:hover {
    text-decoration: none;
    color: #D46A23;
}

font {
    font-size: 9pt;
    color: #666666;
    font-family: verdana, arial
}

blockquote {
    font-family: verdana, arial;
    font-size: 9pt;
    color: #666666
}

table {
    font-size: 9pt;
    font-family: verdana, arial
}

td {
    font-family: verdana, arial;
    font-size: 9pt
}

td.title {
    background-color: #336600;
    color: #FFFFFF;
    font-weight: bold;
}

td.news {
    background-color: #346099;
    color: #FFFFFF;
    font-weight: bold;
}

body {
    scrollbar-face-color: #F9F9F9;
    scrollbar-arrow-color: #D46A23;
    scrollbar-base-color: #FFFFFF;
    scrollbar-3d-light-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    font-family: verdana, arial;
    font-size: 9pt;
    color: #666666;
}

span.marked {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #D46A23;
    font-style: italic;
}

span.song {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    font-style: italic;
    font-weight: bold;
}

span.person {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #039;
    font-style: normal;
    font-size: 10pt;
}

span.song11 {
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 12pt;
    font-weight: bold;
}

img.image11 {
    margin: 0px;
    margin-bottom: 35px;
    margin-top: 10px;
}

span.interpret11 {
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    color: #706757;
    font-style: normal;
    font-size: 12pt;
    margin-left: 10px;
}

span.program {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #D46A23;
    font-style: normal;
    font-size: 14pt;
    font-weight: bold;
}